<header class="navbar">
  <div class="logo">
    <a href="/">Market</a>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/shop">Shop</a></li>
      <li><a href="/create-product">Create Product</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
